[submodule "common-setup/matcher"]
	path = common-setup/matcher
	url = https://github.com/burke/matcher
[submodule "utils/signal-reset"]
	path = utils/signal-reset
	url = https://github.com/thomaslee/signal-reset
[submodule "utils/inotify-info"]
	path = utils/inotify-info
	url = https://github.com/mikesart/inotify-info
