[submodule "common-setup/vim/dotvim/bundle/Vundle.vim"]
	path = common-setup/vim/dotvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "common-setup/solarized"]
	path = common-setup/solarized
	url = https://github.com/altercation/solarized
[submodule "common-setup/matcher"]
	path = common-setup/matcher
	url = https://github.com/burke/matcher
[submodule "per-host-config/ubuntu-diffia/i3-config"]
	path = per-host-config/ubuntu-diffia/i3-config
	url = https://github.com/fatso83/i3-config.git
[submodule "utils/signal-reset"]
	path = utils/signal-reset
	url = git@github.com:thomaslee/signal-reset.git
