# consistent line endings

# References:
# http://stackoverflow.com/questions/26407408/dealing-with-eol-characters-in-cygwin-git-and-git-for-windows-accessing-the-same
# https://help.github.com/articles/dealing-with-line-endings/#per-repository-settings
# https://github.com/mono/mono/blob/master/.gitattributes

# line endings are normalized to LF on _checkin_.
*   text=auto

# don't fuck with binaries
*.jpg   -text

*.bat       eol=crlf
*.ps1       eol=crlf

*.sh        eol=lf
*.dat       eol=lf
*.vimrc     eol=lf

# To view the effect:
# $ rm .git/index     # Remove the index to force Git to
# $ git reset         # re-scan the working directory
# $ git status        # Show files that will be normalized
