[Interface]
Address = ${SERVER_WG_IP}/24
PrivateKey = ${SERVER_PRIVATE_KEY}
ListenPort = ${SERVER_WG_PORT}


PostUp = sysctl -w net.ipv4.ip_forward=1
PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -A FORWARD -o %i -j ACCEPT
PostUp = iptables -t nat -A POSTROUTING -s ${SERVER_WG_IP}/24 -o ${EXT_IF}-j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT
PostDown = iptables -D FORWARD -o %i -j ACCEPT
PostDown = iptables -t nat -D POSTROUTING -s ${SERVER_WG_IP}/24 -o ${EXT_IF} -j MASQUERADE
